@import url(header.css);
@import url(main.css);
@import url(buttons.css);
@import url(normalize.css);

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

