@import url(global.css);
@import url(normalize.css);
@import url(fonts.css);
@import url(buttons.css);


.main-preface {
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color:  #777777;
    align-items: center;
    text-align: center;
    margin: 80px 0px 10px 0;
}

.main-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
    align-items: center;
    text-align: center;
    margin: 0;
}

.main-cards {
    display: grid;
   
}

.card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.card-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}

.card-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #0A2640;
    text-decoration: none;
    border-bottom: 1px solid #0A2640;
}

.card-link-section {
    display: flex;
}

.arrow {
    margin-left: 11px;
}